/*
 * Sections
 */

#a,
#b,
#c,
#d,
#e,
#f,
#g {
  background-color: white;
  border-color: blue;
  margin: 20px;
}

#a {
  margin-top: 5em;
}

/* Links */
#words,
#calculator,
#songs,
#pictures,
#clock,
#poem {
  font-size: 50px
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  text-decoration: none;
  background-color: #FBC5D8;
  border: 1px solid #fff;
  transform: none;
  transition: none;

}
/*Clock*/
.clock1,
.clock2 {
  width: 10rem;
  height: 10rem;
  border:10px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  background-color: yellow;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width:50%;
  height:6px;
  background:white;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90 deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(.1,2.7,.58,1);
}

.hour-hand,
.hour-hand2 {
  height:6px;
}
.min-hand,
.min-hand2 {
  height:6px;
}
.second-hand,
.second-hand2 {
  height:2px;
}

/* Header*/
header {
    background-image: url(../img/love.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 15em;
    margin-bottom: 10em;

}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-size: 25px;
  background-color: #FFEAF2;
  font-family: 'Sacramento', cursive;
  color: #F1396D;
  text-align: center;
  text-shadow: 0 0px 0px rgba(0,0,0,.5);
  padding-bottom: 80px
}

p {
  font-family: 'Yellowtail', cursive;
  font-size: 25px;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  font-size: 100px;
}

.lead {
  font-size: 45px;
}
/* Padding for spacing */
.inner {
  padding: 30px;

}


/*
 * Header
 */



.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  width:inherit;

}
.videoWrapper iframe {
	position:inherit;
	top: 0;
	left: 0;
  width:inherit;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #fff; /* IE8 proofing */
  color: #fff;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
